*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#field{
    display: flex;
    margin: 20px 40px;
}

#field input{
    display: none;
}

p{
    margin: 5px 10px;
    font-size: 30px;
}

.field_1 label{
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: grey;
    transition: background 0.5s;
    position: relative;
}

.field_2 label{
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    background-color: white;
    transition: background 0.2s;
    position: relative;
}

.field_3 label{
    display: block;
    width: 130px;
    height: 50px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    background-color: white;
    transition: background 0,1s;
    position: relative;
}

.field_4 label{
    display: block;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #FFBD33;
    background-color: white;
    transition: background 0.1s;
    position: relative;
}

.field_1 label::after{
    content: "OFF";
    width: 72px;
    height: 46px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    transition: left 0.5s;
    line-height: 50px;
    text-align: center;
    
}

.field_2 label::after{
    content: "OFF";
    width: 72px;
    height: 48px;
    border-radius: 3px;
    background-color: greenyellow;
    position: absolute;
    transition: left 0.5s;
    line-height: 50px;
    text-align: center;
}

.field_3 label::after{
    content: "";
    width: 78px;
    height: 48px;
    border-radius: 3px;
    background-color: #C0C0C0;
    position: absolute;
    transition: left 0.5s;
    line-height: 50px;
    text-align: center;
}

.field_4 label::after{
    content: "Вкл";
    width: 78px;
    height: 48px;
    background-color: #FFBD33;
    border-radius: 3px;
    position: absolute;
    transition: left 0.5s;
    line-height: 50px;
    text-align: center;
}

.field_1 input:checked+label{
    background-color: grey;
}

.field_2 input:checked+label{
    background-color: white;
}

.field_3 input:checked+label{
    background-color: white;
}

.field_4 input:checked+label{
    background-color: #FFBD33;
}

.field_1 input:checked+label::after{
    left: 75px;
    content: "ON";
}

.field_2 input:checked+label::after{
    left: 75px;
    content: "ON";
}

.field_3 input:checked+label::after{
    left: 50px;
    content: "Откл";
}

.field_4 input:checked+label::after{
    left: 50px;
    content: "";
}


